.blogDiv{
    background-color: white;
    padding : 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px dotted black;
}

#blogTitle{
    text-align: center;
    color: white;
    margin: 20px;
}

.postContent{
    margin: 5px;
}
.author{
    font-size: 13px;
    display: block;
}

.postLink{
    color: black;
    text-decoration: none;
}

.postLink:hover{
    color:dimgrey;
}

#no-post-h{
    color: white;
    text-align: center;
    padding: 50px;
}

.rightAlignedDiv{
    display: flex;
    justify-content: right;
}

.deleteButton{
    display: block;
    margin-top: 5px;
}