.postDiv{
    padding: 20px;
    background-color: white;
    margin: 20px 20px 130px;
}

.postTitle{
    text-align: center;
}

.postAuthor{
    text-align: right;
}

.postContent{
    font-size: 18px;
}